* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
}

body {
  background-color: #eee4e4;
}

main {
  min-height: 100%;
}

#foto-contacto {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./../assets/img/e20a4d4a-fbe3-4f52-b242-97b88cfab794.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../assets/img/e20a4d4a-fbe3-4f52-b242-97b88cfab794.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  min-height: 100vh;
}

.img-contac {
  width: 100%;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

form h2 {
  text-align: center;
  margin: 0%;
  font-size: 30px;
  margin-bottom: 20px;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  border: none;
}

form textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

form #boton {
  background-color: #31384a;
  color: #fff;
  padding: 20px;
}

form #boton:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}

footer {
  background: black;
  bottom: 0%;
  left: 0%;
  position: relative;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
  padding-top: 5px;
  width: 100%;
}

footer .logo-posicion {
  position: fixed;
  bottom: 10px;
  right: 15px;
}

footer .nav-footer {
  list-style-type: none;
  padding: 6px;
  margin-left: 8px;
}

footer .nav-link-footer {
  color: white;
  font-size: x-small;
  text-decoration: none;
}

main {
  padding-top: 30px;
}

main .galeria {
  list-style: none;
  width: 100%;
  margin: auto;
  padding-right: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  row-gap: .5rem;
}

main .galeria img {
  width: 100%;
}

@media (min-width: 100px) {
  main .galeria {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 520px) {
  main .galeria {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 728px) {
  main .galeria {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  main .galeria {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

#navbarNavAltMarkup .navbar-brand :hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 5px 5px 7px black;
  position: fixed;
}

#navbarNavAltMarkup .nav-link {
  margin: 60px 10px 0px;
  font-size: medium;
}

main {
  padding-bottom: 5px;
  margin-top: 100px;
}

main div .emaa-fondo {
  width: 100%;
}

h1, h2, h3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  color: #b19f3c;
  padding: 20px;
  text-align: center;
}

.main-titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-img {
  padding: 5px;
  list-style: none;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: .3rem;
          column-gap: .3rem;
  row-gap: .5rem;
}

.container-img .img-home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./../assets/img/IMG-20220403-WA0026.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../assets/img/IMG-20220403-WA0026.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 500px;
}

.container-img .img-home2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./../assets/img/IMG-20220403-WA0028.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../assets/img/IMG-20220403-WA0028.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 500px;
}

.container-img .img-home3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./../assets/img/IMG-20220403-WA0032.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../assets/img/IMG-20220403-WA0032.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 500px;
}

@media (min-width: 100px) {
  .container-img {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1024px) {
  .container-img {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

main .sobre-mi > img {
  width: 75%;
}

main .parrafo-sobremi {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: x-large;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .padd-bott {
  padding-bottom: 80px;
}
/*# sourceMappingURL=style.css.map */