#navbarNavAltMarkup{
  .navbar-brand :hover{
    transition: 0.5s;
    text-shadow: 5px 5px 7px $colorUno;
    position: fixed;
    }
   .nav-link{
    margin: 60px 10px 0px;
    font-size: medium;
    
    }
}