main{
    padding-bottom: 30px;
    }

h1, h2, h3{
    font-size: 40px;
    color: rgb(196, 162, 77);
    padding: 20px;
    text-align: center;
}

.main-titulos{
    display: flex;
    justify-content: end;
    align-items:flex-end;
}

.emaa-fondo{
    width: 100%;
}