main{
.sobre-mi{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 60px;
    
    }

.parrafo-sobremi{
    margin: 40px;
    font-size:x-large;
    display: flex;
    flex-wrap: wrap;
    
    }
    
    @media (min-width:520px){
        .parrafo-sobremi{
        flex: 100%;
        }
        
    }
   
}   