main{
    .sobre-mi{
        >img{width: 75%;}
    }
    
    .parrafo-sobremi{
        align-items: center;
        display: flex;
        font-size:x-large;
        justify-content: center;
    }  
}

.padd-bott{
    padding-bottom: 80px;
}