*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
}

body{
  background-color: rgb(238, 228, 228) ;
}

main{
  min-height: 100%;
}
